.main-container-product-discription{
    width: 390px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.item-main-heading{
    font-size: 22px;
    font-weight: 500;
}
.discription-about-item ul li{
    font-size: 14px;
    font-weight: 500;
}
.current-price-item-discription{
    font-size: 30px;
    font-weight: 500;
}
.current-price-item-discription span{
    font-size: 22px;
}