*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card-box{
    width: 290px;
    height: 400px;
    display: inline-block;
    padding: 10px 0px 0px 0px;
    background-color: white;
}
.item-title{
    padding: 0px 20px;
    margin-bottom: 10px;
}
.inner-box a{
    display: inline-block;
    padding: 0px 15px;
}
.img-box{
    width: 100%;
    background-color: bisque;;
}
.img-box2{
    width: 260px;
    display: block;
    margin: auto;
}