*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container{
    width: 70%;
    margin: auto;
}
.main-container img{
    width: 150px;
    display: block;
    margin: auto;
}

.sign-in-page{
    border: 2px solid rgb(239, 239, 239);
    width: 350px;
    padding: 20px 25px;
    margin: auto;
    border-radius: 7px;
}
.signin-logo{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}
.email-mobile-input label{
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}
.email-input{
    padding: 5px 5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 12px;
}
.email-input:focus{
    outline: 3px solid skyblue;
}
.login-btn{
    display: block;
    width: 100%;
    padding: 7px 0px;
    border-radius: 8px;
    background-color: rgb(255, 223, 82);
    border: 0px;
    margin-bottom: 20px;
}
.login-btn:hover{
    background-color:  rgb(255, 214, 31);
    cursor: pointer;
}
.terms-conditions a{
    text-decoration: none;
    color: rgb(1, 127, 253);
}
.terms-conditions{
    font-size: 13px;
}
.login-help{
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}
.login-help a{
    text-decoration: none;
}
summary{
    margin-bottom: 8px;
}
.login-help ul{
    margin-left: 10px;
}
.login-help ul li{
    list-style: none;
    color: rgb(0, 120, 179);
    margin-bottom: 8px;
}
summary:hover, .login-help ul li:hover{
    color: rgb(184, 0, 0);
    border-bottom: 1px solid rgb(184, 0, 0);;
}

.signup-link{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    row-gap: 50px;
    align-items: center;
}
.signup-link p{
    font-size: 13px;
    color: rgb(92, 92, 92);
}
#signup-btn{
    display: block;
    width: 350px;
    padding: 5px 5px;
    border-radius: 7px;
    background-color:  white;
    border: 1px solid rgb(197, 197, 197);
    margin: 10px auto 30px auto;
}
#signup-btn a{
    text-decoration: none;
    color: black;
}