.cards-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px 0px;
}
@media (max-width: 400px) {
    .cards-collection{
        row-gap: 150px;
    }
}