*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cards-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    padding: 20px 0px;
}