*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.carousel-container{
    padding: 5px 20px;
    background-color: white;
    overflow-x: hidden;
}

.carouselss{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    column-gap: 10px;
}