.main-container-multiple-carousel-5ads{
    width: 100%;
    padding: 20px 20px;
    background-color: white;
    overflow-x: hidden;
    height: 350px;
    overflow-y: hidden;
}
#multiple-carousel-title{
    font-size: 1.3rem;
}
.multiple-cards-carousel-5ads{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    column-gap: 10px;
}
@media (max-width: 400px) {
    .main-container-multiple-carousel-5ads{
        margin-top: 70px;
        transform: scale(1.1);
    }
}