*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.filter-product-description{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.product-filter{
    font-size: 0.9rem;
    font-family: sans-serif;
    font-weight: 500;
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.text-message{
    margin-left: 10px;
    margin-top: 10px;
}
.product-and-description{
    padding: 15px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 20px;
}
